# All intellij files
.idea/
*.iml

# Emacs autosave files
*~
\#*#

# Python Cache files
__pycache__/

# Ignore config.yml (local config file) -- template stored in git is config.yml_git_version
config/config.yml

# Python CMA output directory
outcmaes/

# Temporarily ignore directory holding old files (directory should be removed eventually)
gan/original_files/

# Ignore images stored in results
results/**/*.png

# Ignore storage and cache files in results
results/**/*.txt
results/**/*.json
