# All intellij files
.idea/
*.iml

# Emacs autosave files
*~
\#*#

# Ignore config.yml (local config file) -- template stored in git is config.yml_git_version
config/config.yml

# Python CMA output directory
outcmaes/